const { init, shutdown } = require("./actions");
const { configure } = require("./config");
const { name, author, description, explication, intents, permissions } = require("./infos");

module.exports = {
	// actions
	init,
	shutdown,
	// config
	configure,
	// infos
	name,
	author,
	description,
	explication,
	intents,
	permissions,
};